.font-14px {
  font-size: 14px
}

.font-13px {
  font-size: 13px
}

.font-20px {
  font-size: 20px
}

.font-60px {
  font-size: 60px;
  line-height: 80px
}

.line-height-30px {
  line-height: 30px
}

.width-170px {
  width: 170px
}

.text-grey {
  color: gray
}

img, img:hover {
  filter: drop-shadow(0 8px 20px #d3d3d3)
}

img {
  filter: alpha(opacity=80);
  opacity: .8
}

img:hover {
  opacity: 1;
  filter: alpha(opacity=95)
}

.border-bot-grey {
  border-bottom: 1px solid #d3d3d3
}

.border-bot-3px {
  border-bottom: 3px solid gray
}

.position-relative {
  position: relative
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  margin: 0 15%
}

.video-img {
  opacity: .65;
  filter: alpha(opacity=65);
  filter: drop-shadow(0 8px 20px #d3d3d3)
}

@media only screen and (min-width:576px) {
  .container {
    max-width: 95%
  }
}
