<!DOCTYPE html>
<html>

<head>
  {% include "metadata.html" %}
  <title>Moody / ?</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='angry.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/error.css">
</head>

<body class="bg-light animated fadeIn">
  {% include "flash-message-error.html" %}

  <div class="d-flex align-items-center flex-column m-top-10">
    <div class="font-raleway-700 title">
      {{ error_code }}
    </div>
    <div class="font-raleway-700 font-38px">
      {{ error_message }}
    </div>
    <div class="font-raleway-700 py-3 my-1">
      <a class="btn btn-light" href="{{ url_for('index')}}">Get back home</a>
    </div>
  </div>

  {% include "script.html" %}
</body>

</html>
