<div id="notice"class="alert alert-success alert-dismissible fade show mx-3 my-1">
  Hi. I'm <strong>Duy Anh</strong>, father of this little shit. It's <strong>EXTREMELY HAPPY</strong> to know
  that you guys still visit Moody even though it <strong>SUCKS</strong> &#x1F602;&#x1F602;&#x1F602;.
  I guessed that you are from the C4E course and you're about
  to do the final project. For that reason, I decided to freely open the admin
  dashboard (u: <strong>admin</strong>, pw: <strong>qwe123</strong>) so you can
  have a deeper look at this shit. Please <strong>DON'T DELETE</strong> any
  registered user. Thanks.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
